* {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    cursor: url("../img/cursor_default.png"), default;
}

body {
    height: 100dvh;
    display: flex;
    flex-direction: column;
}

a, button {
    cursor: url("../img/cursor_pointer.png"), pointer !important;
}

footer{
    background:#212529;
    color: white;
    padding-top: 2.5rem;
}

.badge-stock {
    color: white;
    position: absolute;
    top: 15px;
    right: 15px;
    padding: 8px 12px;
    border-radius: 20px;
    font-size: 0.75rem;
    font-weight: 600;
}