{% extends 'layout/base.html' %}

{% block title %}Cardápio{% endblock %}

{% block content %}
    <main class="flex-grow-1">
        <nav class="navbar navbar-expand-lg navbar-light bg-white sticky-top shadow-lg ">
            <div class="container">
                <a href="{{ url_for('index') }}"
                   class="navbar-brand d-flex flex-row gap-1 align-items-center text-danger fw-bolder">
                    <img src="{{ url_for('static', filename='img/logo.jpg') }}" height="20" width="20"
                         alt="Logo do site">
                    MINHA CANTINA
                </a>

                <button class="navbar-toggler">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav ms-auto align-item-center">
                        <li class="nav-item">
                            <div class="input-group">
                                <input type="text" id="searchAlimento"
                                       name="searchAlimento"
                                       class="form-control"
                                       placeholder="Buscar alimento...">

                                <button class="input-group-text text-white"
                                        style="background-color:#f0aa42; border-color: #f0aa42;">
                                    🔍
                                </button>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

        <header id="carouselCantina" class="carousel slide " data-bs-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="{{ url_for('static', filename='img/carousel/slide1.jpg') }}" style="height: 400px;"
                         class="d-block w-100 object-fit-cover" alt="...">
                    <div class="carousel-caption d-none d-md-block">
                        <h5 class="fw-bolder shadow-sm">Mais tempo juntas, menos
                            tempo na fila.</h5>
                        <p>Criamos esse site porque cada minuto do nosso intervalo merece ser vivido — não esperado.</p>
                    </div>
                </div>

                <div class="carousel-item">
                    <img src="{{ url_for('static', filename='img/carousel/slide2.jpg') }}"
                         style="height: 400px;"
                         class="d-block w-100 object-fit-cover" alt="...">

                    <div class="carousel-caption d-none d-md-block">
                        <h5 class="fw-bolder">Pedido feito em poucos cliques. Sabor aproveitado sem pressa.</h5>
                        <p>Porque tecnologia boa é aquela que te devolve tempo.</p>
                    </div>
                </div>

                <div class="carousel-item">
                    <img src="{{ url_for('static', filename='img/carousel/slide3.jpg') }}" style="height: 400px;"
                         class="d-block w-100 object-fit-cover"
                         alt="...">
                    <div class="carousel-caption d-none d-md-block">
                        <h5 class="fw-bolder">Ideia de alunas. Solução para todo mundo.</h5>
                        <p> Um site criado por jovens programadoras para transformar o intervalo em tempo de
                            verdade.</p>
                    </div>
                </div>

                <div class="carousel-item">
                    <img src="{{ url_for('static', filename='img/carousel/slide4.jpg') }}" style="height: 400px;"
                         class="d-block w-100 object-fit-cover"
                         alt="...">
                    <div class="carousel-caption d-none d-md-block">
                        <h5 class="fw-bolder">Eles já estão prontos.</h5>
                        <p>Peça agora e retire sem fila.</p>
                    </div>
                </div>
            </div>

            <button class="carousel-control-prev" type="button" data-bs-target="#carouselCantina" data-bs-slide="prev">
                <img src="{{ url_for('static', filename='img/tag_open.png') }}" height="32" width="32"
                     style="cursor: inherit;"
                     alt="Previous image">
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselCantina" data-bs-slide="next">
                <img src="{{ url_for('static', filename='img/tag_close.png') }}" height="32" width="32"
                     style="cursor: inherit;"
                     alt="Next image">
                <span class="visually-hidden">Next</span>
            </button>
        </header>

        <section class="container mt-4">
            <div class="row mb-4">
                {% if produtos %}
                    <span>Tem produtos</span>
                {% else %}
                    <span>Nenhum produto encontrado</span>
                {% endif %}
            </div>
        </section>

    </main>
{% endblock %}